<div class="center jumbotron">
  <% if user_signed_in? %>
    <%= render 'user_profile' %>
  <% elsif doctor_signed_in? %>
    <%= render 'doctor_profile' %>
  <% else %>
    <h1 align="center">Welcome to the Clinic App</h1>
    <h2>Please select the user you want to login with</h2>
    <div class="container">
      <%= link_to 'Doctor', new_doctor_session_path, class: "btn btn-primary" %> |
      <%= link_to 'Patient', new_user_session_path, class: "btn btn-primary" %> |
      <%= link_to 'New User', new_user_registration_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>


